[package]
name = "rust_engineio"
version = "0.3.0-alpha.1"
authors = ["Bastian Kersting <bastian@cmbt.de>"]
edition = "2018"
description = "An implementation of a engineio client written in rust."
readme = "../README.md"
repository = "https://github.com/1c3t3a/rust-socketio"
keywords = ["engineio", "network", "protocol", "client"]
categories = ["network-programming", "web-programming", "web-programming::websocket"]
license = "MIT"

[dependencies]
base64 = "0.13.0"
bytes = "1"
crossbeam-utils = "0.8.1"
reqwest = { version = "0.11.0", features = ["blocking", "native-tls"] }
adler32 = "1.2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tungstenite = { version = "0.15.0", features = ["native-tls"] }
native-tls = "0.2.7"
url = "2.2.2"

[dev-dependencies]
cargo-tarpaulin = "0.18.0-alpha3"
criterion = "0.3"

[[bench]]
name = "engineio"
harness = false
