on:
   pull_request:
     types: [opened]
   issue_comment:
     types: [created]

name: benchmark engine.io
jobs:
   runBenchmark:
     name: run benchmark
     runs-on: ubuntu-latest
     steps:
      - uses: khan/pull-request-comment-trigger@master
        id: check
        with:
          trigger: '/benchmark'
          reaction: rocket
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Checkout repository
        if: steps.check.outputs.triggered == 'true'
        uses: actions/checkout@v2
      - name: Setup rust environment 
        if: steps.check.outputs.triggered == 'true'
        uses: actions-rs/toolchain@v1
        with:
             profile: minimal
             toolchain: stable
             override: true

      - name: Setup docker
        if: steps.check.outputs.triggered == 'true'
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Generate keys
        if: steps.check.outputs.triggered == 'true'
        run: make keys

      - name: Build docker container
        if: steps.check.outputs.triggered == 'true'
        run: |
          cd ci && docker build -t test_suite:latest .
          docker run -d -p 4200:4200 -p 4201:4201 -p 4202:4202 -p 4203:4203 -p 4204:4204 -p 4205:4205 test_suite:latest
      - name: Extract branch name
        if: steps.check.outputs.triggered == 'true'
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/checkout@master
        if: steps.check.outputs.triggered == 'true'
      - uses: boa-dev/criterion-compare-action@v3.2.0
        if: steps.check.outputs.triggered == 'true'
        with:
          cwd: "engineio"
          branchName: ${{ steps.extract_branch.outputs.branch }}
          token: ${{ secrets.GITHUB_TOKEN }}
