name: Build and code style

on:
  push:
    branches: [main, refactoring]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --verbose
      - name: Linting
        run: cargo clippy --verbose
      - name: Check formatting
        run: cargo fmt --all -- --check
