name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, refactoring]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup rust environment  
        uses: actions-rs/toolchain@v1
        with:
             profile: minimal
             toolchain: stable
             override: true

      - name: Setup docker
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Generate keys
        run: make keys

      - name: Build docker container
        run: |
          cd ci && docker build -t test_suite:latest .
          docker run -d -p 4200:4200 -p 4201:4201 -p 4202:4202 -p 4203:4203 -p 4204:4204 -p 4205:4205 -p 4206:4206 test_suite:latest

      - name: Generate Cargo.lock
        run: cargo generate-lockfile

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-all-features
        run: cargo install cargo-all-features

      - name: Run unit tests
        run: cargo test-all-features --verbose --lib --examples
      
      - name: Run doc tests
        run: cargo test-all-features --verbose --doc

      - name: Run integration tests
        run: cargo test --verbose --features "async" --benches --tests
